html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #85808D;
  color: #FFF8ED;
}

h1 {
  text-align: center;
}

button {
  align-items: center;
  background-color: #373D3B;
  font-size: 20px;
  padding: 15px;
  color: #FFF8ED;
  font-family: 'Nanum Gothic', sans-serif;
}

/* button: hover {
  background-color: #727976;
} */

.typed-out{
  font-size: 80px;
  overflow: hidden;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  border-right: 3px solid #535E4B;
  white-space: nowrap;
  animation: typing 2s steps(50, end) forwards;
  width: 0;
  word-wrap: break-word;
}

@keyframes typing {
  from { width: 5 }
  to { width: 99% }
}

.leftPic {
  align-items: left;
  padding: 20px;
  margin-left: 50px;
  height: 350px;
  width: 400px;
  border-radius: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.leftText {
  float:right;
  text-align: left;
  margin-top: 50px;
  margin-right: 75px;
  margin-left: 20px;
}

.rightPic {
  align-items: right;
  padding: 20px;
  margin-right: 40px;
  height: 350px;
  width: 400px;
  border-radius: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.rightText {
  float:left;
  text-align: left;
  margin-top: 50px;
  margin-right: 75px;
  margin-left: 20px;
}

p {
  font-size: 20px;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 20pt;
  padding: 15px;
}

#intro {
  text-align: center;
}
footer {
  text-align: center;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  padding: 15px;
  background-color: #6d6972;
}